html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Sistema
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		
		block content
			.main.container
				.row
				.col-md-6.col-md-offset-3
					h1.display-4.m-b-2 Login
					form.form-signin(action="/login",method="post")
						div.form-group
							h2.form-signin-heading Ingrese sus datos
						div.form-group
							input.input-block-level(type="text", name="username",placeholder="User")
						div.form-group
							input.input-block-level(type="password", name="password",placeholder="Password")
						div.form-group
							button.btn.btn-large.btn-primary(type="submit") Iniciar Sesión