html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Sistema
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		.main.container
			.row
				.col-md-6.col-md-offset-3
					h1.display-4.m-b-2 Editar Producto
					form(method='POST' action='producto/update')
						input#_id.form-control(type='hidden' name='_id' value=data._id)
						div.form-group
							label(for='nombre') Nombre:
							input#nombre.form-control(type='text' name='nombre' value=data.nombre) 
						div.form-group
							label(for='descripcion') Descripcion:
							input#descripcion.form-control(type='text' name='descripcion' value=data.descripcion)
						div.form-group
							label(for='precio') Precio:
							input#precio.form-control(type='text' name='precio' value=data.precio)
						div.form-group
							button.btn.btn-success(type='submit') Grabar
						div.form-group
							a.btn.btn-danger(href='../producto') Cancelar